config SOMC_BATTERY_CHARGER
	tristate "SOMC Battery Charger"
	depends on I2C
	help
	  Say Y to include support for SOMC Battery Charger.
	  The driver supports SOMC charger used by SONY Xperia 1VI device.
